/genomas_baixados
/ncbi-blast-2.16.0+
/files-archive
/index.html
/Pfam-A.fasta.gz
/Pfam-A.hmm.gz
/Pfam-A.seed.gz
/prism-4-paper
/teste1_regpatternsearch_antismash
/extracted_fna
/prokka_output
/download_extraction
/ncbi_dataset.zip
/ncbi_dataset
/md5sum.txt
/inputAS_dataset.zip
/extracted_gbff
/16S_resultados/
aligned_sequences.fasta
all_sequences.fasta
log.txt
aligned_sequences.phy
aligned_sequences.phy_phyml_boot_stats.txt
aligned_sequences.phy_phyml_boot_trees.txt
aligned_sequences.phy_phyml_stats.txt
aligned_sequences.phy_phyml_tree.txt
testePHYML.ipynb
testejason.py 
Streptomyces_Albidoflavus_GenRef
Streptomyces_Griseus_GenRef
Streptomyces_Microflavus_GenRef
Streptomyces_Anulatus_GenRef
Streptomyces_Mirabilis_GenRef
Streptomyces_Rimosus_GenRef
Streptomyces_Rochei_GenRef
Streptomyces_Scabiei_GenRef
ncbi_refence_genomes.zip
Pfam_database.zip
Pfam-A.hmm
Pfam-A.hmm.h3f
Pfam-A.hmm.h3i
Pfam-A.hmm.h3m
Pfam-A.hmm.h3p
*.png
*.jpg
*.txt
*.tsv
*.json
*.fasta
*.csv
/homer
/homer_results
/hmmer-3.3.2
/imagens_extraidas
/Prism_Results
prism-4-paper
prism-releases
/promoters-per-class
/GCF_Identificados
*.gz
*.zip
output_bigscape_most_freq*
16S_extracted_principaisgenomas
16S_aligned_principaisgenomas
BiG-SCAPE
Resultados_AntiSmash_GenRef
/home/barbara/documents/RegPatternSearch/images
meme-5.5.9
motif_databases
teste_meme_RP_errada
teste_NNPP
prism-4-paper   
prism-releases
bgcs_*.py
BGCS_pas.py
comparacaoASeP.py
contar_bgcs.py
contagemtdsBGCS_prismeAS.cvs
cog-24.def.tab
cog-24.fun.tab
prism_*.py
quant_bgcs2.py
quantificacaomotivos.py
freq_*.py
motif_databases.12.27.tgz
mdambasespecies.md
streptomyces_summary.jsonl
assembly_data_report.jsonl
background_homer.py
counts2.py
grafico_prism.py
heatmap_perclass.py
heatmap.py
G4PromFinder